.body {
    height: 100%;
    display: flex;
    justify-content: start;
}

.main-header {
    background-color: transparent;
    height: 89px;
    width: 100%;
}

.add-text {
    color: rgba(48, 48, 48, 1.0);
    font-size: 64px;
    text-align: center;
    margin-top: 20px;
    line-height: 0.90;
}

.main-content {
    background-color: rgba(221, 222, 224, 1.0);
    height: 100%;
    width: 82.06%;

    display: flex;
    justify-content: space-between;
    flex-direction: column
}

@media screen and (max-width: 800px) {
    .body {
        flex-direction: column;
    }

    .main-content {
        width: auto;
    }
}

.main-body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    height: 100%;
    width: 100%;
    font-size: 36px;
    color: rgba(48, 48, 48, 1.0);
}

.tournament-text {
    position: absolute;
    left: 20px;
    top: 88px;
}

.first-team-text {
    position: absolute;
    left: 20px;
    top: 151px;
}

.texts {
    font-size: 32px;
}

.second-team-text {
    position: absolute;
    left: 20px;
    top: 214px;
}

.date-text {
    position: absolute;
    left: 20px;
    top: 25px;
}

.add-form {
    position: absolute;
    width: 574px;
    height: 410px;
    top: 230px;
    left: 59%;
    margin-left: -287px;
    border: 2px solid rgba(48, 48, 48, 1.0);
}

.date {
    top: 24px;
    position: absolute;
    right: 14px;
    left: 225px;
    width: 335px;
    display: inline-block;
    border: 1px solid #ccc;
}

.tournament {
    top: 88px;
    position: absolute;
    right: 14px;
    left: 225px;
    width: 335px;
    display: inline-block;
    border: 1px solid #ccc;
}

.first-team {
    top: 150px;
    position: absolute;
    right: 14px;
    left: 225px;
    width: 335px;
    display: inline-block;
    border: 1px solid #ccc;
}

.second-team {
    top: 210px;
    position: absolute;
    right: 14px;
    left: 225px;
    width: 335px;
    display: inline-block;
    border: 1px solid #ccc;
}

button {
    position: absolute;
    width: 255px;
    height: 85px;
    left: 165px;
    top: 300px;
    font-size: 42px;
    background-color: #94E512;
    color: White;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1000px) {
    .add-form {
        top: 300px;
    }
}

@media screen and (max-width: 800px) {
    .add-form {
        top: 970px;
        left: 50%;
    }

    .main-body {
        height: 500px;
    }
}
