.body {
    height: 100%;
    display: flex;
    justify-content: start;
}

.main-header {
    background-color: transparent;
    height: 89px;
    width: 100%;
}

.error-text {
    text-align: center;
    color: rgba(216, 0, 0, 1.0);
    font-size: 48px;
    margin-top: 35px;
}

.error-message-text {
    text-align: center;
    color: rgba(0, 0, 0, 1.0);
    font-size: 34px;
    margin-top: 80px;
}

.main-content {
    background-color: rgba(221, 222, 224, 1.0);
    height: 100%;
    width: 82.06%;

    display: flex;
    justify-content: space-between;
    flex-direction: column
}

@media screen and (max-width: 800px) {
    .body {
        flex-direction: column;
    }

    .main-content {
        width: auto;
    }
}

.main-body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    height: 100%;
    width: 100%;
    font-size: 20px;
    color: rgba(48, 48, 48, 1.0);
}