@import "menu.css" all;
@import "header.css" all;

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto;
}

.container {
    background-color: rgba(221, 222, 224, 1.0);
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    font: inherit;
}

a {
    text-decoration: none;
    color: White;
}

a:active {
    font-size: 103%;
}

a:visited {
    color: White;
}

a:hover {
    opacity: 85%;
}