.body {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.main-content {
    background-color: rgba(221, 222, 224, 1.0);
    width: 82.06%;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.main-header {
    height: 100px;
    display: flex;
    justify-content: center;
}

.bets-text {
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    color: rgba(48, 48, 48, 1.0);
    font-size: 64px;
}

.bets-icon {
    width: 57px;
    height: 69px;
    background: url(../images/bets.png) no-repeat center center;
    background-size: cover;
    margin-top: auto;
    margin-bottom: auto;
}

.main-body {
    height: 100%;
    width: 100%;
    font-size: 20px;
}

.match {
    position: absolute;
    color: rgba(48, 48, 48, 1.0);
    background-color: white;
    height: 108px;
    width: 31.9%;
    display: flex;
    flex-direction: column;
}

.match:hover {
    border: 2px solid #303030;
}

.match-1 {
    left: 21%;
    top: 230px;
}

.match-2 {
    right: 8.295%;
    top: 230px;
}

.match-3 {
    left: 21%;
    top: 387px;
}

.match-4 {
    right: 8.295%;
    top: 387px;
}

.match-5 {
    left: 21%;
    top: 544px;
}

.match-6 {
    right: 8.295%;
    top: 544px;
}

.match-header {
    background-color: rgba(241, 241, 241, 1);
    height: 41px;
    display: flex;
    justify-content: space-between;
}

.match-date {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}

.match-tournament {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
}

.match-body {
    height: 67px;
    display: flex;
    justify-content: space-between;
}

.match-body-center {
    display: flex;
    justify-content: center;
}

.match-f-team {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    font-size: 17px;
}

.match-f-percent {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
}

.match-versus-icon {
    margin: auto 10px;
}

.match-s-percent {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
}

.match-s-team {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    font-size: 17px;
}

#true {
    opacity: 0.7;
}

.true {
    color: rgb(148, 229, 18);
}

.winner-image {
    width: 16px;
    height: 16px;
    background: url(../images/win.png) no-repeat center center;
    background-size: cover;
    margin: auto 2px;
}