.body {
    height: 100%;
    display: flex;
    justify-content: start;
}

.main-header {
    background-color: transparent;
    height: 89px;
    width: 100%;
}

.log-in-text {
    color: rgba(48, 48, 48, 1.0);
    font-size: 64px;
    text-align: center;
    margin-top: 15px;
}

.error-message {
    color: Red;
    font-size: 30px;
    position: absolute;
    left: 60%;
    margin-left: -340px;
    top: 630px;
    width: 630px;
    text-align: center;
}

.form {
    position: absolute;
    width: 531px;
    height: 389px;
    top: 225px;
    left: 59%;
    margin-left: -265.5px;
}

.sign-up-ref {
    position: absolute;

    width: 380px;
    left: 50%;
    margin-left: -180px;
    text-align: center;
    padding: 6px;
    background-color: #94E512;
    font-size: 26px;
    font-family: Roboto;
}

.sign-up-ref:active {
    border: 1.2px solid rgba(48, 48, 48, 1.0);
}

.sign-up-text {
    color: White;
}

.sign-click-text {
    color: rgba(48, 48, 48, 1.0);
}


.main-content {
    background-color: rgba(221, 222, 224, 1.0);
    height: 100%;
    width: 82.06%;

    display: flex;
    justify-content: space-between;
    flex-direction: column
}

@media screen and (max-width: 800px) {
    .body {
        flex-direction: column;
    }

    .main-content {
        width: auto;
    }
}

.main-body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    height: 100%;
    width: 100%;
    font-size: 36px;
    color: rgba(48, 48, 48, 1.0);
}

.password-text {
    position: absolute;
    width: 173px;
    left: 25px;
    top: 155px;
}

.username-text {
    position: absolute;
    width: 187px;
    left: 25px;
    top: 48px;
}

.login-form {
    position: absolute;
    width: 531px;
    height: 321px;
    top: 55px;
    border: 2px solid rgba(48, 48, 48, 1.0);
}

input[type=text] {
    top: 50px;
    position: absolute;
    right: 14px;
    left: 212px;
    width: 305px;
    display: inline-block;
    border: 1px solid #ccc;
}

input[type=password] {
    top: 110px;
    position: absolute;
    right: 14px;
    left: 212px;
    width: 305px;
    margin: 46px 0;
    display: inline-block;
    border: 1px solid #ccc;
}

button {
    position: absolute;
    width: 199px;
    height: 65px;
    left: 165px;
    top: 241px;
    font-size: 36px;
    background-color: #94E512;
    color: White;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1000px) {
    .form {
        top: 300px;
    }
}

@media screen and (max-width: 800px) {
    .form {
        top: 300px;
        left: 50%;
    }
}

