.body {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.main-header {
    background-color: transparent;
    height: 100px;
    width: 100%;
}

.teams-text {
    text-align: center;
    color: rgba(48, 48, 48, 1.0);
    font-size: 48px;
    margin-top: 20px;
}

.main-content {
    background-color: rgba(221, 222, 224, 1.0);
    width: 82.06%;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.main-body {
    height: 100%;
    width: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.match {
    height: 296px;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 30px;
}

.match-header {
    border: 1px Black solid;
    border-bottom: hidden;
    background-color: rgba(241, 241, 241, 1);
    height: 41px;
}

.match-date {
    margin-top: 2px;
    text-align: center;
}

.match-body {
    border: 1px Black solid;
    border-bottom: hidden;
    border-top: hidden;
    background-color: White;
    height: 112px;
    display: flex;
    justify-content: space-between;
}

.f-team {
    width: 250px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.f-team-name {
    text-align: center;
}

.f-percent {
    margin-top: 5px;
    text-align: center;
}

.match-versus {
    margin-top: 34px;
    width: 260px;
    text-align: center;
}

.s-team {
    width: 250px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.s-team-name {
    text-align: center;
}

.s-percent {
    margin-top: 5px;
    text-align: center;
}

.match-footer {
    border: 1px Black solid;
    border-top: hidden;
    background-color: rgba(241, 241, 241, 1);
    height: 41px;
}

.match-tournament {
    text-align: center;
    margin-top: 2px;
}

.match-description {
    background-color: rgba(241, 241, 241, 1);
    margin-top: 10px;
    height: 41px;
    font-size: 20px;
    border: 1px Black dashed;
}

.commission-text {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 9px;
}

#money {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 210px;
    height: 38px;
    border: 1px Black groove;
    font-size: 30px;
    text-align: center;
}

.bet-buttons {
    margin-top: 10px;
    height: 100px;
    display: flex;

    justify-content: center;
}

.button {
    height: 100px;
    width: 310px;
    background-color: rgba(148, 229, 18, 1.0);
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: White;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.bet-on {
    font-size: 21px;
    text-align: center;
}

.coefficient-value {
    margin-top: 6px;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.coefficient-text {
    margin-right: 3px;
}

.potential-gain-value {
    margin-top: 5px;
    font-size: 17px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.potential-gain-text {
    margin-right: 3px;
}

.second-button {
    margin-left: 80px;
}

#money-input-form {
    display: flex;
    flex-direction: column;
}

#on {
    visibility: hidden;
}

.true {
    color: rgba(148, 229, 18, 1.0);
}

.match-info-block {
    width: 730px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.match-info-text {
    font-size: 32px;
    text-align: center;
}

.bets-amounts {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    height: 40px;
    font-size: 15px;
}

.first-bet-amount {
    background-color: rgba(241, 241, 241, 1);
    border: 1px Black dashed;
    width: 310px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-right: 100px;
}

.bet-amount-text {
    margin-right: 3px;
    margin-top: auto;
    margin-bottom: auto;
}

.second-bet-amount {
    background-color: rgba(241, 241, 241, 1);
    border: 1px Black dashed;
    width: 310px;
    text-align: center;
    display: flex;
    justify-content: center;
}

#second-bets-amount {
    margin-top: 10px;
}

#first-bets-amount {
    margin-top: 10px;
}

#commission {
    margin-left: 6px;
}